:root {
	--primary-color: rgba(34, 246, 195, 1.0);
	--secondary-color: #000000;
	
	--text-padding: 2%;
}

body {
	display: flex;
	flex-direction: column;
	font-family: -apple-system "Helvetica Neue" "Helvetica" "Arial" sans-serif;
	margin: 0px;
}

h1 {
	background-color: var(--primary-color);
	color: var(--secondary-color);
	margin: 0px;
	padding-left: 6%;
}

b {
	padding-left: var(--text-padding);
}

h3 {
	margin-bottom: 0%;
	padding-left: var(--text-padding);
}

p {
	padding: 0 var(--text-padding) 0 var(--text-padding);
	text-align: center;
}

footer {
	background-color: var(--primary-color);
	color: var(--secondary-color);
	margin-top: 3%;
	text-align: center;
}
