:root {
	--gradient-top: rgba(37, 226, 101, 1);
	--gradient-bottom: rgba(27, 169, 192, 1.0);
	--text-padding: 2%;
}

a {
	align-self: center;
}

b {
	display: block;
	padding-left: var(--text-padding);
}

body {
	display: flex;
	flex-flow: column;
	font-family: -apple-system "Helvetica Neue" "Helvetica" "Arial" sans-serif;
	justify-content: space-around;
	margin: 0px;
}

footer {
	margin-top: 3%;
	text-align: center;
}

h1 {
	display: inline;
	margin: 10px;
	padding-left: var(--text-padding);
}

h3, h4, h5 {
	margin-bottom: 0%;
	padding-left: var(--text-padding);
	text-align: center;
}

header {
	align-items: center;
	display: flex;
	flex-flow: row;
	padding: 15px 25px;
}

img {
/* 	background-color: var(--gradient-bottom); */
	width: 100%;
}

img.icon {
	width: 30%;
}

p {
	padding: 0 var(--text-padding) 0 var(--text-padding);
	text-align: left;
}

span {
	padding-top: 10px;
	text-align: center;
}
